body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

#game {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-title {
  color: #333;
}

.game-info {
  font-size: 18px;
  color: #666;
}

#progress {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0; /* Start with 0 width */
}

.click-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.click-button:hover {
  background-color: #45a049;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.navbar-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button {
  background-color: #da0b0b;
}
.navbar-button#ultraRebirthsButton {
  background-color: #ff69b4;
}

.navbar-button#rebirthsButton {
  background-color: rgb(66, 13, 189); /* Pink color for rebirth button */
}

.navbar-button#runesButton {
  background-color: #4caf50; /* Green color for runes button */
}

.tab {
  display: none;
  margin-bottom: 20px;
}

.tab.active {
  display: block;
}

.tab-title {
  color: #333;
  margin-bottom: 10px;
}

.scrollable {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 20px; /* Adjust for scrollbar width */
}

.multiplier {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #da0b0b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.rebirth {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: rgb(66, 13, 189); /* Pink background */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ultra-rebirth {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #ff69b4; /* Pink background */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.draw-rune {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.draw-rune:hover {
  background-color: #45a049;
}

.rune {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}
